* {
   margin: 0;
   padding: 0;
}
body,html {
   padding: 15px;
   background: #000000;
   min-height: 100%;
}
.wrapper{
   min-height: 100%;
   position: relative;

}
.header {
   display: flex;
   justify-content: space-around;
}
.main {
  flex: 1 1 auto; 
   padding-bottom: 10px;
   
}
.foother {
   bottom: 0;
   position: absolute;
   left: 0;
   height: 80px;
   width: 100%;
   
}
  
.header {
   max-width: 1920px;
   height: 80px;
   display: flex;
   justify-content: space-between;
   margin:5px;
   height: 100%;
}
.header_logo_title h1 {
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 54px;
   font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
   color: #FFFFFF;
   text-align: center;
   margin: 5px;
}
.header_links_list {
   justify-content: right;
   margin-top: 35px;
   margin-left: 580px;
}
.header_links_list a {
   text-decoration: none;
   font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
margin-left: 15px;
padding: 5px;

/* gray */
color: #969696;
}
.header_links_list a:hover {
   color:#FFFFFF;
}
.header_icons {
   justify-content: flex-end;
   margin-top:40px;
   margin-left: 20px;  
}
.header_icons img {
   max-width: 100%;
}
.header_icons img:hover {
   transform: scale(1.2);
}
@media (max-width: 31.25rem) {
   .header_links_list {
      margin-top: 20px;
      margin-left: 20px;
   }
   .header_links_list a {
      font-size: 7px;
      margin-left: 3px;
      padding: 1px;
   }

.header_logo_title h1{
   font-size: 18px;
}
.header_icons {
   margin-top: 20px;
   margin-left: 0;
}
}
.banner {
 width: 100%;
 height: 800px;
  background-image: url("../img/backrgroundbanner.PNG"); 
  background-position: center;
  background-size: auto;
}
.banner_content {
   width: 320px;
   height: 320px;
   border: 4px solid #FFFFFF;
   padding-top: 20px;
   margin: 0 auto;
}
#line {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.banner:last-child {
   padding-bottom: 0;
}
.banner_subtitle {
}
.banner h1 {
   font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 64px;
   line-height: 96px;
   text-align: center;

   color: #FFFFFF;  

}
.banner p {
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   font-family: "PT Sans";
   color: #FFFFFF;
}
.banner_subtitle p {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
/* banner stylesheet for mobile */
@media (max-width: 31.25rem) {
   .banner {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
   }

.banner_content { 
   width: 150px;
   height: 150px;
   border: 1px solid #FFFFFF;
}
   .banner h1 {
      font-size: 16px;
   }
   .banner p {
      font-size: 14px;
   }
   .banner_subtitle p {
      font-size: 10px;

   }}
   /* PC laptop*/
   .content_conteiner_content {
      display: flex;

   }
   
   .content_left h1 {
      font-family: "PT Sans";
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      text-transform: uppercase;
      margin: 15px;
      
      /* white */
      color: #FFFFFF;}
   /* mobile */
   @media (max-width: 31.25rem) {
      .content_conteiner_content {
         display: block;
      }
.content_left h1 {
   font-size: 12px;
}
}
  
   .content_right {
      background: #000000;
      width: 1040px;
      height: 600px;
   }
   .content_left {
      width: 880px;
      height: 600px;
   }
   @media (max-width: 31.25rem) { 
      .content_left,.content_right {
         width: 100%;
         background-size:cover;
         height: 420px;
      }}
      /* PC laptop */
      .content_left_content {
         display: flex;
         justify-content: space-around;
         gap:3px;
         margin: 30px;
      }
      .left_block {
         display: block;
      }
      .left_block h1 {
         font-size: 18px;
line-height: 21px;
font-family: "PT Sans";     
/* white */
color: #FFFFFF;
      }
      .left_block p {
         font-family: "PT Sans";
         font-size: 16px;
line-height: 19px;

/* light-gray */
color: #D0D0D0;
      }
      .left_block img {
         max-width: 100%;
      }
      .content_left_content:last-child {
         padding-bottom: 0;
      }
      /* mobile layout */

   @media (max-width: 31.25rem) { 
      .content_left_content {
         display: flex;
         justify-content: space-around;
         gap:3px;
         margin: 30px;
      }
      .left_block {
         display: block;
      }
      .left_block h1 {
         font-size: 14px;
line-height: 21px;
font-family: "PT Sans";     
/* white */
color: #FFFFFF;
      }
      .left_block p {
         font-family: "PT Sans";
         font-size: 12px;
line-height: 19px;

/* light-gray */
color: #D0D0D0;
      }
     .left_block img {
      width: 50%;
      height: 50%;
     }
   }
   /* PC laptop */
   .content_right_content {
      margin-top: 350px;
      justify-content: center;
      justify-items: center;
      text-align: center;
   }
   .content_right_content h1 {
   font-size: 36px;
   font-family: "PT Sans";
line-height: 42px;
text-align: center;
text-transform: uppercase;
/* white */
color: #FFFFFF;
   }
   #link_btn {
font-style: normal;
font-family: "PT Sans";
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
padding: 5px 25px 5px 25px;
text-decoration: none;
border: 2px solid #FFFFFF;
margin-top: 50px;
/* white */
color: #FFFFFF;
display: block;
margin-left: auto;
margin-right: auto;
      max-width: 311px;
   }
   /* mobile layout */
   @media (max-width: 31.25rem) { 
      .content_right_content h1 {
font-size: 16px;
      }
      #link_btn {
         font-size: 12px;
      }
      .content_right_content {
         margin-top: 200px;
      }
   }
   .content_left p {
      font-family: "PT Sans";
      font-size: 22px;
      margin: 36px;
line-height: 19px;
color: #FFFFFF;
   }

   @media (max-width: 31.25rem) { 
     .content_left p {
      font-size: 18px;
      margin: 15px;
     }} 

     /* pc laptop */
     .block_flex {
      width: 1920px;
      height: 450px;
      
     }
     .block_flex_title h1 {
      font-size: 36px;
      font-family: "PT Sans";
   line-height: 42px;
   text-align: center;
   text-transform: uppercase;
   /* white */
   color: #FFFFFF;
     }
     .content h1 {
font-family: "PT Sans";
font-size: 18px;
line-height: 21px;

/* white */
color: #FFFFFF;

     }
     .content p {
      font-family: "PT Sans";
font-size: 12px;
line-height: 21px;
color: #FFFFFF;
     }
     .content img {
      max-width: 100%;
     }
     .block_flex_title {
      display: block;
margin-left: auto;
margin-right: auto;
     }
     /* mobile layout */
     @media (max-width: 31.25rem) { 
     .block_flex {
      width: 100%;
      height: fit-content;
     }
     .block_flex_title h1 {
      font-size: 14px;

     }
     content h1 {
      font-size: 12px;

     }
     .content p {
      font-size: 10px;

     }
     .content img {
      width: 50px;
      height: 50px;
     
   }
     }
     .block-flex_content {
      display: flex;
      justify-content: center;
      
     }
     .brands_title h1 { 
         font-family: "PT Sans";
         font-size: 36px;
         line-height: 42px;
         text-align: center;
         text-transform: uppercase;
         margin: 15px;
         color: #FFFFFF;
     }
     .brands_content {
      display: flex;
      justify-content: space-around;
      gap: 1px;
     }
     .brands_content img {
      max-width: 100%;
     }
     @media (max-width: 31.25rem) {
      .brands_content img {
         width: 25%;
         height: 25%;
      }}
   